<app-menu></app-menu>
<div class="container">
  <div class="row">
   
  <!-- <p>Hola mundo </p> -->

  <!-- <div>
   <h1>IDGS 902</h1> 
  </div>
  
  <div>
    {{title}}
  </div>
  
  <div>La suma de 2+2 es: {{2+2}}</div>
  
  <div> El doble de 3 es: {{duplicaN (3)}}</div>
  <br>
  
  <div>
   <b>Matricula:</b> {{alumno.matricula}} 
  </div>
  <div>
    <b>Nombre:</b>{{alumno.nombre |uppercase}}
  </div>
  <div>
    <b>Apellido Paterno:</b>{{alumno.apaterno |lowercase}}   
  </div>
  <div>
    <b>Apellido Materno:</b>{{alumno.amaterno}}
  </div>
  <div>
    <b>Inscrito:</b>{{alumno.Inscrito| currency}}
  </div>
  <div>
    <b>Fecha Naimiento:</b>{{alumno.fechaNacimiento | date:'dd/MM/yyyy'}}
  </div>
  
  <hr>
  <app-grupos>

  </app-grupos>
<hr>
<app-idgs902>

</app-idgs902>
<hr>
<app-idgs></app-idgs>  -->
<hr>
<!-- <app-iric></app-iric> -->
<!-- <app-suma>  </app-suma> 

<hr>
<app-operas-bas></app-operas-bas> -->

    <app-tarea></app-tarea>

  </div>
</div>
